<center>
<h1> Welcome to the W.W.W.</h1><br>
<form action="http://localhost:3000/users/new">
    <input type="submit" value="Create User" /><br>
    <br>
<form action="http://localhost:3000/users/login">
    <input type="submit" value="Log In" />
</form>
