<center>
<h1> Welcome to the W.W.W.</h1><br>
<form class="top" action="users/new">
    <input class="top" type="submit" value="Create User" /><br>
</form>
    <br>
<form class="top" action="/login">
    <input type="submit" value="Log In" />
</form>
