// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	width: 100%;
	height: 67vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#character {
	width: 45vh;
	height: 30vh;
	position: absolute;
	bottom: 32vh;
	left: 10vh;
}

#map {
	width: 10vh;
	height: 10vh;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1vh;
	opacity: 0.6;
	transition: all .2s ease-in-out;
}

#map:hover {
	opacity: 1;
	transform: matrix(6, 0, 0, 6, -240, 240);
}

#name_info div {
	background: darkslategrey;
	color: white;
	margin: 0 0;
}

#ui {
	background-color: saddlebrown;
	display: table;
	width: 100%;
	height: 24vh;
}

#forms {
	display: table-cell;
	width: 35%;
	height: 24vh;
	border: 1vh solid chocolate;
}

#items {
	display: table-cell;
	width: 60%;
	height: 24vh;
	border: 1vh solid orange;
}

.box1 {
	display: inline-block;
	width: 40%;
	height: 3vh;
	margin: 1vh;
	padding: 3vh 0;
	text-align: center;
	border: 1vh dotted orangered;
}

.box2 {
	display: inline-block;
	width: 20%;
	height: 3vh;
	margin: 1vh;
	padding: 3vh 0;
	text-align: center;
	border: 1vh dashed gold;
}

