// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-weight: bold;
    color: rgba(161, 0, 0, 0.815);
    font-size: 160px;
    font-family: 'Rye', cursive;
  }

label {
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Rye', cursive;
  }

body {
    background-image: url('https://i.redd.it/9zstru7t2cr01.jpg')
}

.top input[type="submit"] {
  color: white;
  background: url(blank.png);
  font-weight: bold;
  font-size: 50px;
  border: 0;
}

#notice div {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  margin: 3vh 30vw;
}

#warning div {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  margin: 3vh 30vw;
}